<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
    <form action="http://localhost:8088/explorer/upload"
    enctype="multipart/form-data" method="post">
        <p>
        Type some text (if you like):<br>
        <input type="text" name="title" size="30">
        </p>
        <p>
        Please specify a file, or a set of files:<br>
        <input type="file" name="file" size="40">
        </p>
        <div>
        <input type="submit" value="Send">
        </div>
    </form>
</body>
</html>